@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --second: #0d7;
  --third: rgb(153, 240, 153);
  --black: #000000;
  --white: #fff;
  --red: #ff0000;
}

body {
  position: relative;
  background: #fbeec1;
  font-family: "Anta", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
